# Axio-Mo-Hist Rhizome Dojo
DOJO_PORT=7150
DOJO_BIND=0.0.0.0
DOJO_NODE_NAME=rhiz-fach
DOJO_TRIBE=rhiz-kobalt
DOJO_ENABLE_SYSTEMD=0

# Optional cluster hints
LXD_STORAGE=rhiz-storage
CEPH_CLUSTER=ceph
CEPH_CLIENT=lxd
CEPH_POOL=lxd-rbd-ark
CEPH_CONF=/etc/ceph/ceph.conf
CEPH_KEYRING=/etc/ceph/ceph.client.lxd.keyring

# Safety gates
DOJO_ALLOW_REPAIR=0
DOJO_ALLOW_DESTRUCTIVE=0
