[connection]
id=ceph-operator
uuid=REPLACE_UUID
type=wireguard
interface-name=ceph-operator
autoconnect=true

[wireguard]
listen-port=54730
mtu=1420
private-key=REPLACE_PRIVATE_KEY

[ipv4]
address1=10.42.0.2/24
method=manual
ignore-auto-dns=true
dns-search=~;
never-default=true

[ipv6]
method=disabled

[wireguard-peer.exosystem]
public-key=REPLACE_EXOSYSTEM_PUBLIC_KEY
endpoint=192.168.0.46:54725
allowed-ips=10.42.0.1/32
persistent-keepalive=25
