PROJECT_NAME=ipod-nano-sdr-xcode-lab
WEB_PORT=8088
SDR_PORT=8090
SDR_MODE=synthetic
SDR_CENTER_FREQ=100000000
SDR_SAMPLE_RATE=2048000
SDR_FFT_SIZE=1024
SDR_FPS=12
EXPORT_DIR=exports
XCODE_BUNDLE_ID=ch.uniphilabs.NanoSpectroLab
XCODE_APP_NAME=NanoSpectroLab
