[connection]
id=ceph-operator
uuid=__UUID__
type=wireguard
interface-name=ceph-operator
autoconnect=true

[wireguard]
listen-port=54715
mtu=1420
private-key=__PRIVATE_KEY__

[ipv4]
address1=10.42.0.21/24
method=manual
ignore-auto-dns=true
dns-search=~;
never-default=true

[ipv6]
method=disabled

[wireguard-peer.factau-rhiz]
public-key=REPLACE_FACTAU_PUBLIC_KEY
endpoint=union.arquolab.io:32245
allowed-ips=10.42.0.21/32
persistent-keepalive=25

[wireguard-peer.eliosys-rhiz]
public-key=qcsXpBNZynKq3nok0PJdeLg0VqjjmW8JE2SP1K4NMAI=
endpoint=union.arquolab.io:32234
allowed-ips=10.42.0.22/32
persistent-keepalive=25
