CEPH_PACKAGE_DIR="$HOME/ceph"

SSH_USER=kobalt
SSH_OPTS="-o StrictHostKeyChecking=accept-new -o ConnectTimeout=8"
SSH_TTY=1

CEPH_CLUSTER=ceph
CEPH_CLIENT=lxd
CEPH_POOL=lxd-rbd-ark
LXD_STORAGE=rhiz-storage

CEPH_MON_CAP="profile rbd"
CEPH_OSD_CAP="profile rbd pool=lxd-rbd-ark"
CEPH_MGR_CAP="profile rbd pool=lxd-rbd-ark"

LXD_TARGET=rhiz-fach
LXD_INSTANCE=metrology-lab
LXD_IMAGE=ubuntu:24.04
LXD_CPU=10
LXD_MEMORY=12GiB

NO_CEPH=0
LOCAL_POOL=local-dir
LOCAL_POOL_SOURCE=/var/snap/lxd/common/lxd/storage-pools/local-dir

APPLY=0
RESTART_LXD=1
