[connection]
id=ceph-operator
uuid=__UUID__
type=wireguard
interface-name=ceph-operator
autoconnect=true

[wireguard]
listen-port=54715
mtu=1420
private-key=__PRIVATE_KEY__

[ipv4]
address1=10.42.0.22/24
method=manual
ignore-auto-dns=true
dns-search=~;
never-default=true

[ipv6]
method=disabled

[wireguard-peer.exosystem]
public-key=p66qyzTV1pt+tJue5kR/cAD6bVVeNaJcK8fgff7Zpno=
endpoint=union.arquolab.io:32237
allowed-ips=10.42.0.1/32
persistent-keepalive=25

[wireguard-peer.factau-rhiz]
public-key=REPLACE_FACTAU_PUBLIC_KEY
endpoint=union.arquolab.io:32245
allowed-ips=10.42.0.21/32
persistent-keepalive=25
