# RHIZ Sinkhole Bastion Guardian v2
TARGET_HOSTNAME=exosys-rhiz
TARGET_HOST_IP=192.168.0.50
ALLOWED_BASTION_HOSTNAME=rhiz-ueth
ALLOWED_BASTION_IP=192.168.0.2

EXOSYS_LAN_IF=br0
EXOSYS_SINK_PHYS_IF=

RHIZ_UETH_SINK_IF=
RHIZ_UETH_SINK_IP=10.45.3.2/24

SINKHOLE_LXD_NETWORK=sinkhole0
SINKHOLE_BRIDGE=rhiz-sink0
SINKHOLE_SUBNET=10.45.3.0/24
SINKHOLE_GATEWAY=10.45.3.1
SINKHOLE_DNS_IP=10.45.3.53
SINKHOLE_DHCP_RANGE=10.45.3.100-10.45.3.220

WG_IF=wg-rhiz-sink
WG_SUBNET=10.111.9.0/24
EXOSYS_WG_IP=10.111.9.1/24
RHIZ_UETH_WG_IP=10.111.9.2/24
WG_PORT=51991
EXOSYS_WG_PRIVATE_KEY=
EXOSYS_WG_PUBLIC_KEY=
RHIZ_UETH_WG_PRIVATE_KEY=
RHIZ_UETH_WG_PUBLIC_KEY=

ENFORCE_BLOCK=1
MGMT_ALLOWED_TCP_PORTS="22 8444 443 80"

GUARDIAN_API_PORT=8787
AGENT_INTERVAL_SECONDS=30
AGENT_LOG_DIR=/var/log/rhiz-guardian
AGENT_STATE_DIR=/var/lib/rhiz-guardian
RISK_THRESHOLD_WARN=65
RISK_THRESHOLD_BLOCK=85

CASCADE_HOSTS="rhiz-ueth"
SSH_USER=kobalt
APPLY=0
