LXD_TARGET=factau-rhiz
LXD_TARGET_IP=192.168.0.4
LXD_INSTANCE=limesdr-usb-lab
LXD_IMAGE=ubuntu:25.04
LXD_STORAGE=rhiz-storage
LXD_NETWORK=
LXD_PROFILE=limesdr-usb-plucky
LIMESDR_VENDORID=1d50
LIMESDR_PRODUCTID=6108
LXD_PRIVILEGED=false
LIMESDR_API_PORT=8096
LIMESDR_API_BIND=0.0.0.0
